.hero-bg {
  background: url('https://i.postimg.cc/d1mBtpD1/sample-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 8rem 0 10rem 40px;
}

#subtitle {
  margin-bottom: 2rem;
}
