.CalculatorContainer {
  padding: 3rem;
}
.Calculator {
  padding: 3rem;
}
.Calculator img {
  width: 90px;
}
.Paper {
  padding: 3rem;
}
.image {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
